<h1>Your categories:</h1>
<% @user_categories.each do |uc| %>
  <%= link_to '#', method: :delete, class: 'category-delete', :remote => true do %>
    <%= uc.name %>
  <% end %>
<% end %>

<h1>Select more:</h1>
<% @remaining_categories.each do |uc| %>
  <%= link_to '#', method: :create, class: 'category-delete', :remote => true do %>
    <%= uc.name %>
  <% end %>
<% end %>
