<div id="categories-background">
	<div class="container">
		<div class="category-title-container">
			<h1 class="category-title">Pick your favourite categories!</h1>
			<%= link_to "Toggle all", user_categories_toggle_all_path, remote: true, id: 'toggle-all-categories-button' %>
		</div>
		<div id="category-buttons-container">
			<%= render 'shared/user_categories_buttons' %>
		</div>
	</div>
</div>
