<div id="categories-background">
	<div class="container">
		<div class="category-title-container">
			<h1 class="category-title">Select some foods you want to cook!</h1>
			<%= link_to "Toggle all", user_categories_toggle_all_path, remote: true, id: 'toggle-all-categories-button' %>
		</div>
		<div id="category-buttons-container">
			<%= render 'shared/user_categories_buttons' %>
		</div>
  <%= link_to "Back to recipes", recipes_path, class:"back-to-recipes" %>
	</div>
</div>

<!-- Enter to return to recipes -->
<script type="text/javascript">
  const backToRecipes = document.querySelector(".back-to-recipes")
  document.addEventListener("keyup", (e) => {
    if (e.keyCode == 13) {backToRecipes.click()}
  });
</script>
