<div class="full-page-banner-container">
  <h1 class="full-page-banner-title">SWIPE CHEF <i class="fas fa-angle-double-right icon-sizing-home"></i></h1>
  <div class="full-page-banner-img">
    <%= link_to 'CLICK FOR DELICIOUSNESS', recipes_path %>
  </div>
</div>
