<div class="full-page-banner-container">
  <h1 class="full-page-banner-title">SWIPE CHEF</h1>
  <div class="full-page-banner-img">
    <%= link_to 'CLICK FOR DELICIOUSNESS', recipes_path %>
  </div>
</div>
