.full-page-banner-container {
  display:flex;
}

.full-page-banner-title {
  height: 100vh;
  width: 20%;
  margin: 0;
  display:flex;
  justify-content:center;
  align-items: center;
  transform: rotate(-90deg);
  text-orientation: upright;
  font-size: 12vh;
  white-space: nowrap;
}

.full-page-banner-img {
  background-image: url('https://res.cloudinary.com/dr48k5zwm/image/upload/v1577463011/photo-1495195134817-aeb325a55b65_2_tfk46s.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  flex-grow: 1;
}

 .full-page-banner-img a {
  position:absolute;
  bottom:0;
  right:0;
  padding: 20px;
  text-decoration:none;
  color: white;
  font-size: 30px;
  text-align: right;
  width: 300px;
}

.icon-sizing-home{
  font-size: 13vh;
  margin-left: 30px;
}
