.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-bar-swipe-chef-title {
  margin: 0px 10px 0px 0px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.icon-sizing {
 font-size: 48px;
}
