.recipe-show-card {
  display:flex;
  margin: 5vh auto;
  width: 80%;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  @include media-breakpoint-down(md) {
   width: 60%;
   margin: 5% auto 0 auto;
 }
}

.show-card-container-left {
  height: 100%;
}

.show-card-container-right {
  height: 100%;
  display:flex;
  flex-direction: column;
}

.recipe-img {
  height:100%;
  @include media-breakpoint-down(md) {
    height:auto;
    width: 100%
  }
}

.recipe-header {
  padding: 4%;
  background: $teal;
  color: white;
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.recipe-metrics {
  display:flex;
  justify-content: space-between;
}

.recipe-metrics i {
  font-size: 30px;
}

.recipe-metrics span {
  font-size: 12px;
}

.recipe-header-hidden {
  display:none;
  padding: 4%;
  background: $teal;
  color: white;
  @include media-breakpoint-down(md) {
    display: block;
    height: auto
  }
}

.recipe-steps-and-ingredients {
  display:flex;
  margin: 0 auto;
  flex-grow: 1;
}

.recipe-step {
  height: 100%;
  padding: 4%;
  text-align: center;
  background: white;
}

.recipe-ingredients {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5%;
  background: $light-gray;
  font-size: 12px;
}

.recipe-ingredients table {
  width:80%;
  text-align: center;
  border: 1px solid #CDCDCD;
}

tr:nth-child(even) {
  background: $teal;
  color: white;
}

tr:nth-child(odd) {
  background: #FFF
}

.recipe-show-card h1 {
  font-size: 30px;
}

.recipe-show-card h2 {
  font-size: 25px;
}

.recipe-category {
  background: none;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 3px;
}
