.recipe-show-card {
  display:flex;
  background: white;
  margin: 5vh auto;
  width: 80%;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  @include media-breakpoint-down(sm) {
   width: 100%;
   margin: 5% auto 0 auto;
 }
}

.show-card-container-left {
  height: 100%;
}

.show-card-container-right {
  height: 100%;
  display:flex;
  flex-direction: column;
}

a.escape-recipe {
  text-overflow: ellipsis;
  text-decoration: none;
  color: black;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.escape-recipe:hover {
  text-decoration: none;
  color: black;
  width: 100%;
}

.recipe-img {
  height:100%;
  min-width:100%;
  @include media-breakpoint-down(md) {
    height:auto;
    width: 100%
  }
}

.recipe-header {
  padding: 2.5% 4%;
  background: $teal;
  color: white;
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.recipe-metrics-show {
  display:flex;
  justify-content: space-between;
  margin-top:20px;
}

.recipe-metrics-show i {
  font-size: 30px;
}

.recipe-metrics-show span {
  font-size: 14px;
}

.recipe-metrics-show p {
  margin: 0;
  font-size: 18px;
}

.recipe-header-hidden {
  display:none;
  padding: 4%;
  background: $teal;
  color: white;
  @include media-breakpoint-down(md) {
    display: block;
    height: auto
  }
}

.recipe-steps-and-ingredients {
  display:flex;
  margin: 0 auto;
  flex-grow: 1;
}

.recipe-step {
  height: 100%;
  padding: 4%;
  text-align: center;
  background: white;
}

.recipe-ingredients {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5%;
  background: $light-gray;
  font-size: 12px;
}

.recipe-ingredients table {
  width:85%;
  text-align: center;
  border: 2px solid white;
}

tr:nth-child(even) {
  background: $teal;
  color: white;
  font-size: 14px;
}

tr:nth-child(odd) {
  background: #FFF;
  font-size: 14px;
}

.recipe-show-card h1 {
  font-size: 40px;
}

.recipe-show-card h2 {
  font-size: 25px;
}

.recipe-category {
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px !important;
  font-size: 16px;
}
