.preference-title {
  margin: 5vh auto;
}

.preference_form_container {
  width: 100%;
  display: flex;
  justify-content: center;
  @include media-breakpoint-down(xs) {
    width: 70%;
  }
  @include media-breakpoint-up(sm) {
    width: 60%;
  }
  @include media-breakpoint-up(md) {
    width: 40%;
  }
  @include media-breakpoint-up(lg) {
    width: 30%;
  }
}

.preference_form {
  width: 100%;
  font-size: 20px;
}

.preference-submit {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $teal;
  border-radius: 10px;
  color: white;
  transition: 0.5s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin-top: 30px;
  &:hover {
    text-decoration: none;
    color: white;
    transform: translate(0, -2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  font-family: 'Rubik';
}

#preferences-background {
  background-image: url("https://res.cloudinary.com/dr48k5zwm/image/upload/v1577463011/photo-1495195134817-aeb325a55b65_2_tfk46s.jpg");
  background-size: cover;
  height: calc(100vh - 74px);
  color: white;
}
 .teal-text {
   background-color: $teal;
   border-radius: 3px;
   padding: auto 8px;
 }

#preference-indicator {
  @include media-breakpoint-down(xs) {
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }
  @include media-breakpoint-up(sm) {
    text-align: center;
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    margin: 0 5vw 0 0;
    text-align: left;
    width: 50%;
  }

  @include media-breakpoint-up(lg) {
    text-align: left;
    width: 50%;
  }
}
