#categories-background {
  background-image: url("https://res.cloudinary.com/dr48k5zwm/image/upload/v1577463011/photo-1495195134817-aeb325a55b65_2_tfk46s.jpg");
  background-size: cover;
  height: calc(100vh - 74px);
  color: white;
}

.category-title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 0;
}

#toggle-all-categories-button {
  align-self: center;
  margin-left: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: $teal;
  background-color: white;
  font-family: 'Rubik';
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2px 8px;
  transition: 0.3s ease;
  &:hover {
    color: $teal;
    text-decoration: none;
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
}

.category-button-container {
  display: flex;
  height: 12vh;
  margin: 2vh auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.category-button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  color: $teal;
  background-color: white;
  transition: 0.5s ease;
  filter: opacity(75%);
  &:hover {
    text-decoration: none;
    color: $teal;
  }
  font-family: 'Rubik';
  font-size: 20px;
}

.category-button-selected {
  filter: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: $teal;
  color: white;
  &:hover {
    color: white;
  }
}

.category-title {
  margin: 0;
}

#category-buttons-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh
}
